extends ../common/layout.pug
block title
  title Development
block content
  .container
    .row
      form
        .form-group
          label(for="") 当前时间
          input(type="text"  class="form-control" v-model="username")
          button.btn.btn-primary 转
          input(type="text" class="form-control" v-model="date_to_timestamp")
        .form-group
          label(for="") 转换日期
          input(type="text"  class="form-control" v-model="timestamp")
append script
  script(src="dist/js/development.js")