<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    block title
      title Template
    block style
      link(rel="stylesheet", href="libs/css/bootstrap.css")
  body
    #app
      block content

    block script
      script(src="libs/js/jquery.js")
      script(src="libs/js/bootstrap.js")
      script(src="libs/js/vue.js")
      script(src="libs/js/axios.js")
      script(src="libs/js/qs.js")
